.modal-notification {
	background: $component-background-2;

	position: fixed;
	z-index: 1000;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	justify-content: center;
	align-items: center;

	height: 50px;
	max-width: fit-content;

	border-radius: $component-border-radius + 10px;
}

.modal-notification-icon {
	font-size: 40px;
	min-width: 50px !important;
	margin-left: 7px;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: visible;
	// white-space: nowrap;
	// text-overflow: clip;

	i {
		color: $main;
	}
}

.modal-notification-text {
	font-size: 25px;
	margin-right: 10px;
	margin-left: 5px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
}
