.react-select-container {
	min-width: 200px;
}

.react-select-control {
	border-radius: $component-border-radius !important;

	background-color: $component-background-3 !important;
	border: 1px solid $component-background-border !important;

	&.focused {
		border-color: $main !important;
		box-shadow: 0px 0px 10px 1px $main;
	}
}

.react-select-indicator {
	transition: transform 0.15s ease-out 0s !important;
}

.react-select-singlevalue {
	display: flex !important;
	align-items: center;
}

.react-select-input {
	color: $white !important;
}

.react-select-menu {
	border-radius: 0 !important;
	background: none !important;
	box-shadow: none !important;
}

.react-select-menulist {
	padding: 15px !important;
	border-radius: $component-border-radius;

	background-color: $component-background-3;
	border: 1px solid $component-background-border;
}

.react-select-option {
	display: flex !important;
	align-items: center;

	transition: all 0.3s ease;
	border-radius: $component-border-radius;

	&.focused {
		background-color: $select-active;
	}

	&.selected {
		background-color: $component-background-2;
	}

	&:not(:first-child) {
		margin-top: 5px;
	}
}

.react-select-icon {
	max-width: 30px;
	max-height: 30px;

	border-radius: $component-border-radius;
	margin-right: 10px;
}

.react-select-colour {
	width: 15px;
	height: 15px;
	border-radius: 50%;

	margin-right: 10px;
}

#react-select-icon-icon {
	margin-right: 10px;
	text-align: center;
}

.react-select-option-value {
	text-align: center;
	width: fit-content;
}

.react-select-notice {
	padding: 0 !important;
}
